[".local/bin/mise"]
    type = "file"
    #url = "https://mise.jdx.dev/mise-latest-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
    url = "https://github.com/jdx/mise/releases/download/{{ (gitHubLatestRelease "jdx/mise").TagName | toString }}/mise-{{ (gitHubLatestRelease "jdx/mise").TagName | toString }}-{{ .chezmoi.os }}-{{ .chezmoi.arch | replaceAllRegex "amd64" "x64" }}.tar.gz"
    executable = true

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    stripComponents = 1

[".local/share/fonts"]
    type = "archive"
    url =  "https://github.com/githubnext/monaspace/releases/download/{{ (gitHubLatestRelease "githubnext/monaspace").TagName | toString }}/monaspace-nerdfonts-{{ (gitHubLatestRelease "githubnext/monaspace").TagName | toString }}.zip"
    path = "monaspace"

[".local/share/applications/alacritty.desktop"]
    type = "file"
    url =  "https://github.com/alacritty/alacritty/releases/download/{{ (gitHubLatestRelease "alacritty/alacritty").TagName | toString }}/Alacritty.desktop"

[".local/bin/skillshare"]
    type = "archive-file"
    url = "https://github.com/runkids/skillshare/releases/download/{{ (gitHubLatestRelease "runkids/skillshare").TagName | toString }}/skillshare_{{ (gitHubLatestRelease "runkids/skillshare").TagName | toString | trimPrefix "v" }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
    path = "skillshare"
    executable = true


[".local/bin/lazyssh"]
    type = "archive-file"
    url = "https://github.com/Adembc/lazyssh/releases/download/{{ (gitHubLatestRelease "Adembc/lazyssh").TagName | toString }}/lazyssh_{{ .chezmoi.os | replaceAllRegex "linux" "Linux" }}_{{ .chezmoi.arch | replaceAllRegex "amd64" "x86_64" }}.tar.gz"
    path = "lazyssh"
    executable = true

{{- $Arch := "x86_64" }}
{{- if eq .chezmoi.arch "arm64" }}
{{-   $Arch = "aarch64" }}
{{- end }}
{{- $Os := "unknown-linux" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $Os = "apple-darwin" }}
{{- end }}

[".local/bin/yazi"]
    type = "archive-file"
    url = "https://github.com/sxyazi/yazi/releases/download/{{ (gitHubLatestRelease "sxyazi/yazi").TagName | toString }}/yazi-{{ $Arch }}-{{ $Os }}-gnu.zip"
    path = "yazi-{{ $Arch }}-{{ $Os }}-gnu/yazi"
    executable = true

[".local/bin/zellij"]
    type = "archive-file"
    url = "https://github.com/zellij-org/zellij/releases/download/{{ (gitHubLatestRelease "zellij-org/zellij").TagName }}/zellij-{{ $Arch }}-{{ $Os }}-musl.tar.gz"
    path = "zellij"
    executable = true

[".local/bin/rtk"]
    type = "archive-file"
    url = "https://github.com/rtk-ai/rtk/releases/download/{{ (gitHubLatestRelease "rtk-ai/rtk").TagName }}/rtk-{{ $Arch }}-{{ $Os }}-musl.tar.gz"
    path = "rtk"
    executable = true

[".local/bin/ttyd"]
    type = "file"
    url = "https://github.com/tsl0922/ttyd/releases/download/{{ (gitHubLatestRelease "tsl0922/ttyd").TagName }}/ttyd.{{ $Arch }}"
    path = "rtk"
    executable = true
