{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email := promptStringOnce . "email" "Email address" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name := promptStringOnce . "name" "Full name" -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $arch := .chezmoi.arch -}}
{{- if eq $arch "amd64" -}}
{{-   $arch = "x64" -}}
{{- end -}}

data:
    email: {{ $email | quote }}
    name: {{ $name | quote }}
    osid: {{ $osid | quote }}
    arch: {{ $arch | quote }}
