{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $arch := .chezmoi.arch -}}
{{- if eq $arch "amd64" -}}
{{-   $arch = "x64" -}}
{{- end -}}

data:
    osid: {{ $osid | quote }}
    arch: {{ $arch | quote }}
