# 1. 指定加密工具
encryption: "age"

# 2. 配置 age 插件的具体参数
age:
  # 这里列出所有允许解密这套 dotfiles 的机器公钥 (Recipients)
  recipients:
    - "age1erqram70a4y6xztgdz3ctv9jdk96hmkstsszfgcp7kr5mrxya97q7sczrv" # debian-13@lcr-u7-3
    - "age1pg4gdm24n0udaaeqqftn5ja3zq2e9c8280t6huu9je8nq8fsu4kqledlke" # popos home
  
  # 3. 指定本地存放私钥 (Identity) 的路径
  identities:
    - "~/.config/chezmoi/key.txt"
